@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato:wght@300&display=swap');

/* font-family: 'Inter', sans-serif;
font-family: 'Lato', sans-serif; */
:root {
    --main-font : 'Inter', sans-serif;
    --secondary-font : 'Lato', sans-serif; 
    --shadow-bg-color : rgba(42, 168, 196, 0.35);
    --main-color : rgba(42, 168, 195, 1);
    --main-color-txt : rgba(35, 35, 35);
    --secondary-txt : rgba(255, 255, 255);

}